# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Session files
*.session
*.session-journal

# Config files
config.py
secrets.py

# IDEs
.idea/
.vscode/
.cursor/

# Logs
monitor_logs.txt 